body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;    
}
.menu-wrap{
  display: none;
}
.marquee{
    animation: animate 33s ease-out infinite;
    background-size: cover; 
  color: white;  
  font-size: 24px;  
  height: 30px;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height:70px;
    animation: animate 33s ease-out infinite;
background-size: cover; 
}
@keyframes animate{
    0%,100%{
        background-image: url(Images/img9.jpg);
    }
    25%{
        background-image: url(Images/img12.jpg);
    }
    50%{
        background-image: url(Images/img14.jpg);
    }
    /* 75%{
        background-image: url(Images/img11.jpg);
    } */
}

#logo{
    margin-top: 10px;
   margin-left: 13px;
   height: 80px;width: 130px;
   
}
#site-name{
    font-size: 60px;
    margin-left: -18px;
color: white;
}
#navul{
    display: flex;
    position: absolute;
   
    right: 26px;
}
.list{
    list-style: none;
    margin-right: 39px;
}
.click{
 padding: 5px;
 padding-left:8px;
 padding-right:8px;
    font-size: 30px;
  border-radius: 19px;
  text-decoration: none;
  color:white;

}
#opening-text{

    font-size: 25px;margin-top: 20px; color: rgb(167, 115, 70);
}
.what{
    background-color:white;margin-top: 40px;
    height: auto;
    margin-left: 40px;
    border: 2px solid white;border-radius: 16px;
    display: flex;width: auto;
}
.whatcontent{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 10px;
}
.what-heading{
    font-size: 50px;
     font-family: 'Great Vibes', cursive;color: rgb(167, 115, 70);
}
.what-para{
    font-size: 20px;line-height: 1.8rem;
    color: grey;
}
#logo2{
    margin-top: 50px;
    margin-left: 30px;
    height: 210px;
    width: 320px;
}
#About{
    font-size: 90px;
    display: flex;color:rgb(167, 115, 70);
    align-items: center;
    justify-content: center;margin-top: 70px;
    font-family: 'Great Vibes', cursive;

}
#Aboutdiscription{
    font-size: 42px;
    display: flex;
    color:rgb(15, 14, 14);
    align-items:center;justify-content: center;
   margin-top: -59px;
   font-family: 'Montserrat', sans-serif;


}
#about{
    display: flex;
     margin-top: 30px;
}
.image2{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(167, 115, 70);
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;

}
.first{

    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
margin: auto;
display: block;
}
.tagline{
    text-align: center;
  color: grey;    font-size: 22px;

}
.special{
    text-align: center;
    color: black;font-size: 35px;
}
.diverse-before{
  margin-top: 40px;


  
}
.diverse-heading{
    font-size: 90px;
    
 text-align: center;   font-family: 'Great Vibes', cursive;
    color: rgb(167, 115, 70);
    margin-top: 130px;
}

.diverse-tag{
    text-align: center;
    font-size: 35px;
    margin-left: 29px;
    margin-top: -58px;
    font-family: 'Montserrat', sans-serif;
} 
.diverse{
    margin-left: 40px;
    margin-top: 65px;
    width: 60%;
}
.diverse1-name{
    font-size:38px;
    text-decoration: underline;
    color: black;
    font-style: italic;
}
.diverse1-info{
    margin-top: 38px;
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
    color: rgb(167, 115, 70) ;
}
.diverse1-para{
    margin-top: 17px;
color: grey;
font-size: 22px;
font-style: italic;
}
.diverse ul{
    margin-top: 31px;
}
.diverse2-para{
    font-size: 22px;
    margin-top: 15px;
    font-style:italic;
}
.diverse2-note{
    margin-left: 40px;
    margin-top: 38px;
  color: grey;
    font-size:22px;
    width: 75%;
    font-style: italic;
}
.extra ul{
    display: flex;
    flex-direction: row;
}
.extra-list{
    color: white;
    /* list-style: none; */
    padding-right: 59px;
}
.extra-link{
    color: white;
    font-size: 24px;
}
.extra-link:hover{
    font-weight:bold;
}

#Contact{
    margin-top: 40px;
    position: absolute;
    width: 100%;
    background-color:black;z-index: -1;
    border-top: 4px solid rgb(167, 115, 70);
  }
    
#contactheading{
  color:rgb(167, 115, 70);text-align: center;
  font-size: 77px; font-family: 'Great Vibes', cursive;
  margin-top: 35px;
  margin-bottom: 30px;
}
#contactbigbox{
  display: flex;
  flex-direction: column;
}
#contactbox{
  display: block;
  margin: auto;
  width: 700px;

}
#contactheadinginfo{
  color:white;
  font-size: 23px;text-align: center;width: 100%;
  line-height: 1.9rem;
  font-style: italic;
  }

 #websitename{
     display: flex;
     flex-direction: row;
     align-items: center;justify-content: center;
     margin-top: 60px;margin-right: 73px;
 }

.web{
  font-size: 24px;color:white;
  margin-left: 15px;
}
.email{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.extra ul{
    display: flex;
    flex-direction: row;
}
.extra-list{
    color: white;
    /* list-style: none; */
    padding-right: 59px;
}
.extra-link{
    color: white;
    font-size: 24px;
}
.extra-link:hover{
    font-weight:bold;
}
 #copyright{
     
     text-align: center;
   color:white;font-size: 25px;
      margin-top: 88px;
      font-style: italic;
 }

/* responsive design */

@media (max-width:1052px){
    #logo2{
        margin-top: 91px;
    }
  }
  @media (max-width:945px)
  {
    .what-para{
      line-height: normal;
    }
    .special{
      font-size: 30px;
    }
    .tagline{
      line-height: normal;
    }
  }
  @media (max-width:880px){
    .tagline{
      font-size: 18px;
    }
    .diverse-para{
      font-size: 18px;
    }
    .diverse1-para{
      font-size: 18px;
    }
    .diverse2-para{
      font-size: 20px;
    }
    .diverse2-note{
      font-size: 20px;
    }
    #About{
      font-size: 75px;
      }
  #Aboutdiscription{
      font-size: 28px;
     margin-top: -51px;
  
  }
  .diverse-heading{
    font-size: 75px;
    margin-top: 40px;
  }
  .diverse-tag{
    font-size: 28px;
    margin-top: -51px;
  }
  }
  @media (max-width:830px){
    .list{
      margin-right:11px;
    }
    .what{
      margin-top: 2px;
    }
    .image2{
      height: 160px;
      width: 160px;
    }
  
  }
  @media (max-width:800px){
    #logo{
      margin-left: -12px;
      height: 73px;
      width: 126px;
    }
    #site-name{
      font-size: 50px;
    }
    .click{
      font-size: 25px;
    }
    #contactbox{
      width: auto;
    }
    #contactheadinginfo{
      font-size: 21px;
    }
    .web{
      font-size: 20px;
    }
    .extra-link{
      font-size: 20px;
    }
  
  }
  @media (max-width:725px){
    .whatcontent{
      width: 98%;
    }
    #logo2{
      margin-top: 97px;
      margin-left: 2px;
      height: 196px;
      width: 310px;
    }
  }
  @media (max-width:657px){
    .what{
      margin-left: 14px;
    }
    .diverse-before{
      margin-left: 14px;
    }
    .diverse{
      margin-left: 14px;
      width: 92%;
    }
    #about{
      display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  }
  #first{
      order: 2;
  }
  #second{
      order:1;
  }
  #third{
      
      order: 3;
  }
  .first{
   
     align-items: center;
     width: 500px;
     height: 380px;
  }
  .diverse1-name{
    font-size: 33px;
  }
  }
  @media (max-width:596px){
    .what-para{
      font-size: 17px;
    }
    marquee{
      font-size: 17px;
      height: 25px;
    }
    #site-name{
      font-size: 42px;
    }
    .click{
      font-size: 21px;
      padding-left: 5px;
      padding-right: 0px;
    }
    #logo{
      height: 64px;
      width: 110px;
    }
    #logo2{
      margin-top: 97px;
      margin-left: 52px;
      height: 167px;
      width: 186px
    }
    .what-heading{
      font-size: 42px;
    }
    #About{
      margin-top: 48px;
      font-size: 70px;
    }
    #Aboutdiscription{
      font-size: 24px;
      margin-top: -44px;
    }
    .diverse-before{
      width: 91%;
    }
     .diverse-heading{
      margin-top: 48px;
      font-size: 70px;
    }
    .diverse-tag{
      font-size: 24px;
      margin-top: -44px;
    }
    .extra-list{
      padding-right: 31px;
    }
    #contactheading{
      font-size: 65px;
    }
    #copyright{
      font-size: 20px;
    }
  }
  @media(max-width:550px){
    #logo2{
      display: none; 
     }
  }
  @media (max-width:497px){
    #site-name{
      font-size: 38px;
    }
    .list{
      margin-right: 5px;
  
    }
    .click{
      font-size: 19px;
    }
    #logo{
      height: 54px;
      width: 98px;
    }
    .special{
      font-size: 28px;
    }
    #About{
      font-size: 54px;
      margin-top: 32px;
    }
    #Aboutdiscription{
      font-size: 21px;
      margin-top: -37px;
    }
    .first{
      width: auto;
    }
    .diverse-heading{
      margin-top: 33px;
    }
    .diverse1-name{
      font-size: 28px;
    }
    .diverse1-info{
      font-size: 27px;
    }
    .diverse2-note{
      margin-left: 14px;
      font-size: 18px;
      width: 91%;
    }
    #contactheadinginfo{
      font-size: 18px;
      line-height: 1.6rem;
    }
    .diverse2-para{
      font-size: 18px;
    } 
    #contactheading{
      font-size: 52px;
    }
    .diverse-heading{
      font-size: 57px;
    }
    .diverse-tag{
      font-size: 21px;
      margin-top: -37px;
    }
  }
  @media (max-width:420px){
    #logo{
      margin-left:-15px;
      height: 53px;
      width: 89px;
    }
    .click{
      font-size: 16px;
    }
    #navul{
      display: none;
  }
  .menu-wrap{
      display: block;
  }

:root{
  --primary-color: rgba(13, 110, 139, 0.75);
   
  --overlay-color: rgb(167, 115, 70);
--menu-speed: 0.75s;

}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}
 
.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}
 
.showcase:before {
  content: '';
  background: url(Images/img12.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
 
.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
 
.showcase h1 {
  font-size: 4rem;
}
 
.showcase p {
  font-size: 1.3rem;
}
 
.btn {
  display: inline-block;
  border: none;
  background: #333;
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}
 
.btn:hover {
  opacity: 0.7;
}
 
/* MENU STYLES */
.menu-wrap {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  z-index: 1;
  /* background-color: grey; */
}
/* .menu-wrap::before{
    content: "";
    height:100%;
   width:100%;
   background-color: grey;
   position: fixed;
   } */
 
.menu-wrap .toggler {
  position: fixed;
  top: 38PX;
  right:0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
 
.menu-wrap .hamburger {
  position:fixed;
  top: 38PX;
  right: 0;
  z-index: 1;
  width: 27px;
  height: 33px;
  padding: 1rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
 
/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
 
/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

 
/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}
/* .menu-wrap:before .toggler:checked{
    content: "";
    height: 100%;
    width: 100%;
    position:fixed;
    background-color: grey;
} */
 
/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
  /* background-color: grey; */
}
 
/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
 
/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
 
/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
 
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
 
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}
 
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
 
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
 
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}
 
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
    body{
    background:linear-gradient(0deg, rgb(201, 85, 85), rgb(22, 21, 21), url("Images/img14.jpg"));
  background-size:cover;
}
.box {
    display: flex;
    }

.box .inner {
    width: 900px;
    height: 200px;
    line-height: 200px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner:first-child {
    background-color: indianred;
    color: darkred;
    transform-origin: right;
    transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
    background-color: lightcoral;
    color: antiquewhite;
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
}

@keyframes marquee {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}
  }
  @media (max-width:400px){
    .extra-list{
      padding-right: 20px;
  
    }
    .extra-link{
      font-size: 17px;
    }
  }
  @media(max-width:375px){
    
    .list{
      margin-right: 0px;
    }
    .click{
      padding-left: 7px;
    }
    #site-name{
      font-size: 31px;
    }
    #logo{
      margin-left: -17px;
    }
  }
  @media (max-width:330px){
    #site-name{
      font-size: 28px;
    }
    #logo{
      height: 44px;
      width: 98px;
    }
  }
  @media (max-width:298px){
    #site-name{
      display: none;
    }
    #navul{
      right: 60px;
    }
  }